{% extends "header.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="change-password-card">
    <h1>Change Password</h1>
    <form method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="current_password" class="form-label">Current Password:</label>
            <input type="password" name="current_password" class="form-control" id="current_password" placeholder="Enter your current password" required>
            <div class="invalid-feedback">
                Please provide your current password.
            </div>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password:</label>
            <input type="password" name="new_password" class="form-control" id="new_password" placeholder="Enter your new password" required>
            <div class="invalid-feedback">
                Please provide a new password.
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm New Password:</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm your new password" required>
            <div class="invalid-feedback">
                Please confirm your new password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Change Password</button>
        <a href="/upload" class="btn btn-danger w-100 mt-2">Back</a>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger mt-3">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
    // JavaScript for form validation
    (function() {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
        .forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })();
</script>
{% endblock %}
