<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}iDeb SLIK Reader Report{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- jQuery (Wajib sebelum DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
    <div class="header">
        <h2>iDeb SLIK Reader Report</h2>
        <div class="dropdown">
            <span id="fullname">{{ fullname }}</span>
            <div class="dropdown-content">
                <a href="/change_password">Change Password</a>
                {% if role_access == 'admin' %}
                    <a href="/register">Register User</a>
                {% endif %}
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

</body>
</html>
